.a{
    color: lightblue;
    background-color:gray ;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
    box-shadow: 0px 2px 7px;
    border-radius: 60px;
    text-shadow: 4px 4px 8px rgb(19, 18, 18);
    font-size: 50px;
    margin: 60px 0px 60px 0px;
    padding right: ;: 30px;
}